body{
    background-color: rgb(218,243,243);
}

.frame1{
    margin: 2rem;
    border-radius: 15px;
    padding: 1rem;
    background-color: rgb(190,229,229);
    display: block; /*브라우져 크기와 같이 자동 조절*/
}

#who{ /*id에 css 설정*/
    color:blue;
    font-weight: bold;
}

#text{color: gray;}/*id에 css 설정*/