*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: lightgray;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,16);
    width: 460px;
    height: 680px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 1rem 0;
}
.add-elements{
    margin: 0.9rem 0;
}

input{
    padding: 6px 4px;
    margin-right: 1rem;
    width: 65%;
}

button{
    padding: 7px, 14px;
    background-color: blue;
    border: none;
    border-radius: 7px;
    color: #fafafa;
}

button:hover{
    background-color: #1565c0;
}

ul{
    padding: 1rem;
}

.element-list{
    height: 550px;
    overflow-y: scroll;
}

li{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 5px 8px rgba(0,0,0, .16);
    transition: 4s;
}

li:hover{
    background-color: #e0e0e0;
}

img{
    margin-left: 30px;
    width: 1rem;
}